<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Mss.Common\packages.config" />
  <repository path="..\src\Mss.Data.SqlServer\packages.config" />
  <repository path="..\src\Mss.Web.Api\packages.config" />
  <repository path="..\src\Mss.Web.Common\packages.config" />
</repositories>